{% load staticfiles menu_tags sekizai_tags %}
<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="header-content h-100 d-flex align-items-center justify-content-between">
                        <div class="academy-logo">
                            <a href="/"><img alt="Logo školy" src="{% static 'img/core-img/skola-logo.png' %}"></a>
                        </div>
                        <!--
                        <div class="login-content">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container p-0">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="academyNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/cs/"><span style="font-size: 26px; color: gray;"><i class="fa fa-home"></i></span></a></li>
                                {% show_menu 0 1 2 1 "includes/menu/navigation.html" %}
                                <li class="megamenu-item"><a href="#">Rozcestník</a>
                                    <div class="megamenu">
                                        <ul class="single-mega bg-light cn-col-4">
                                            <li class="text-uppercase bg-strojirenstvi text-white text-center p-1">Uchazeči o studium</li>
                                            <li><a href="/cs/studium/">Studijní obory</a></li>
                                            <li><a href="/cs/studium/prijimaci-rizeni-technicke-obory/">Přijímačky - technické obory</a></li>
                                            <li><a href="/cs/studium/prijimaci-rizeni-umelecke-obory/">Přijímačky - umělecké obory</a></li>
                                            <li><a href="/cs/studium/akce-pro-uchazece/">Akce pro uchazeče a ZŠ</a></li>
                                            <li><a href="{% static 'documents/letaky.zip' %}">Propagační letáky</a></li>
                                        </ul>
                                        <ul class="single-mega bg-white cn-col-4">
                                            <li class="text-uppercase bg-informatika text-white text-center p-1">Veřejnost</li>
                                            <li><a href="/cs/kontakty/">Informace a kontakty</a></li>
                                            <li><a href="/cs/historie-soucasnost/">Historie a současnost</a></li>
                                            <li><a href="/cs/nabidka-pronajmu/">Nabídka pronájmu</a></li>
                                            <li><a href="/cs/spoluprace/">Spolupráce s firmami</a></li>
                                            <li><a href="/cs/projekty/">Realizované projekty</a></li>
                                        </ul>
                                        <ul class="single-mega bg-light cn-col-4">
                                            <li class="text-uppercase bg-hracka text-white text-center p-1">Studenti a rodiče</li>
                                            <li><a href="/cs/studium/informace-pro-studenty/">Informace pro studenty a rodiče</a></li>
                                            <li><a href="/cs/studium/maturity/">Maturity</a></li>
                                            <li><a href="/cs/studium/preventivni-program/">Preventivní program</a></li>
                                            <li><a href="/cs/studium/vychovne-poradenstvi/">Výchovné poradenství</a></li>
                                            <li><a href="/cs/studium/nabidky-zamestnani/">Nabídky zaměstnání a brigád</a></li>
                                        </ul>
                                        <ul class="single-mega bg-white cn-col-4">
                                            <li class="text-uppercase bg-design text-white text-center p-1">Odkazy</li>
                                            <li><a href="https://portal.skolaonline.cz">Škola online</a></li>
                                            <li><a href="https://moodle.sspu-opava.cz">Moodle: e-learning</a></li>
                                            <li><a href="https://portal.office.com">Office 365</a></li>
                                            <li><a href="https://old.sspu-opava.cz">Starý školní web</a></li>
                                            <li><a href="https://webmail.sspu-opava.cz/zimbra">Zimbra</a></li>
                                        </ul>
                                    </div>
                                    <span class="dd-trigger"></span>
                                    <span class="dd-arrow"></span>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Calling Info -->
                    <div class="calling-info">
                        <div class="call-center">
                            <a href="/cs/kontakty"><i class="fa fa-user-circle"></i> <span>KONTAKTY</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

