{% extends "aldryn_newsblog/sidebar_right.html" %}
{% load i18n cms_tags %}

{% block newsblog_content %}
    <div class="aldryn-newsblog-list">
        {% for article in article_list %}
            {% include "aldryn_newsblog/includes/listed_article.html" %}
        {% empty %}
            <p class="well">{% trans "No items available" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block newsblog_footer %}
    <li class="aldryn-newsblog-pagination">
        {% include "aldryn_newsblog/includes/pagination.html" %}
    </li>
{% endblock %}
