{% load staticfiles menu_tags sekizai_tags %}
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area wow fadeInUp" data-wow-delay="300ms">
    <div class="main-footer-area pt-5">
        <div class="container">
            <div class="row align-items-start justify-content-start">
                <div class="col-sm-5 col-md-4 col-lg-2">
                    <div class="footer-widget mb-100">
                        <div class="widget-title border-bottom"><h6 class="text-secondary">Zřizovatel</h6></div>
                        <div class="widget-title w-75">
                            <p><a href="http://msk.cz" target="_blank"><img src="{% static 'img/core-img/kraj-logo-cb.png' %}" class="img-fluid"></a></p>
                        </div>
                        <div class="small">
                            <span style="color: #999999;"><small>Střední škola průmyslová a umělecká Opava<br>je příspěvkovou organizací zřizovanou Moravskoslezským krajem</small></span>
                        </div>
                        <div class="widget-title w-75"><p>
                            <p><a href="http://msk.cz" target="_blank"><img src="{% static 'img/core-img/prispevkova-organizace-cb.png' %}" class="img-fluid"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title border-bottom"><h6 class="text-secondary">Kontaktní údaje</h6></div>
                        <div class="small"><h6><span style="color: #999999;"><strong>Střední škola průmyslová a umělecká, Opava</strong></span></h6>
                            <p>
                                <small><span style="color: #999999;">Praskova 399/8, Opava, 746 01</span></small>
                                <br>
                                <small><span style="color: #999999;">Právní forma: Příspěvková organizace</span></small>
                                <br>
                                <small><span style="color: #999999;">IČ: 47813121, IZO: 600017338</span></small>
                            </p>
                        </div>
                        <div class="single-contact d-flex mt-0"><i class="icon-telephone-1"></i>
                            <p>
                                <small>Main: 203-808-8613, Office: 203-808-8648</small>
                            </p>
                        </div>
                        <div class="single-contact d-flex mt-0"><i class="icon-contract"></i>
                            <p>skola@sspu-opava.cz</p></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="footer-widget mb-100">
                        <div class="widget-title border-bottom"><h6 class="text-secondary">Užitečné odkazy</h6></div>
                        <div class="small">
                            <ul>
                                <li><a href="#"><span style="color: #dddddd;">Administrace</span></a></li>
                                <li><a href="#"><span style="color: #dddddd;">Škola online</span></a></li>
                                <li><a href="#"><span style="color: #dddddd;">Moodle</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title border-bottom"><h6 class="text-secondary">Partneři a sponzoři</h6></div>
                        <div class="small">
                            <p><a href="http://msk.cz" target="_blank"><img src="{% static 'img/core-img/prispevkova-organizace-cb.png' %}" class="img-fluid"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->