{% load staticfiles menu_tags sekizai_tags %}
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area mt-5">
    <div class="main-footer-area pt-3">
        <div class="container">
            <div class="row align-items-start justify-content-start">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="footer-widget mb-1">
                        <div class="widget-title border-bottom border-secondary mb-3"><h6 class="text-secondary">Zřizovatel</h6></div>
                        <div class="widget-title w-75">
                            <p><a href="http://msk.cz" target="_blank"><img src="{% static 'img/core-img/kraj-logo-cb.png' %}" class="img-fluid"></a></p>
                        </div>
                        <div class="small text-light">
                            Střední škola průmyslová a umělecká Opava je příspěvkovou organizací zřizovanou Moravskoslezským krajem
                        </div>
                        <div class="widget-title w-75"><p>
                            <p><a href="http://msk.cz" target="_blank"><img src="{% static 'img/core-img/prispevkova-organizace-cb.png' %}" class="img-fluid"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
                    <div class="footer-widget mb-1">
                        <div class="widget-title border-bottom border-secondary mb-3"><h6 class="text-secondary">Kontaktní údaje</h6></div>
                        <div class="small"><p class="text-light"><strong>Střední škola průmyslová a umělecká, Opava</strong></p>
                            <p class="text-light">
                                <small>Praskova 399/8, Opava, 746 01</small>
                                <br>
                                <small>Právní forma: Příspěvková organizace</small>
                                <br>
                                <small>IČ: 47813121, IZO: 600017338</small>
                            </p>
                        </div>
                        <div class="single-contact mt-0">
                            <p><i class="fa fa-phone"></i> <small><a href="#">+420 553 621 580, +420 553 622 604</a></small></p>
                            <p><i class="fa fa-envelope"></i> <small><a href="mailto:sspu@sspu-opava.cz">sspu@sspu-opava.cz</a></small></p>
                            <p><i class="fa fa-globe"></i> <small><a href="http://www.sspu-opava.cz">www.sspu-opava.cz</a></small></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="footer-widget mb-1">
                        <div class="widget-title border-bottom border-secondary mb-3"><h6 class="text-secondary">Užitečné odkazy</h6></div>
                        <div class="small">
                            <ul>
                                <li><a href="/cs/admin">Administrace</a></li>
                                <li><a href="http://skolaonline.cz">Škola online</a></li>
                                <li><a href="http://moodle.sspu-opava.cz:81/">Moodle</a></li>
                            </ul>
                        </div>
                        <div class="small text-center p-3">
                            <img src="{% static 'img/core-img/skola-doporucena-zamestnavateli-2018-logo-cb.png' %}" alt="Škola doporučená zaměstnavateli" class="img-responsive w-75">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-12">
                    <div class="footer-widget mb-1">
                        <div class="widget-title border-bottom border-secondary mb-3"><h6 class="text-secondary">Partneři a sponzoři</h6></div>
                        <div class="small">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->