{% load staticfiles cms_tags menu_tags sekizai_tags %}<!doctype html>
<html lang="cs">
<head>
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/core-img/logo-skoly-male.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <!-- ##### Stylesheets ##### -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% render_block "css" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131788408-1"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-131788408-1');
    </script>
</head>
<body>
    {% cms_toolbar %}
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="#">{{ request.user.first_name }} {{ request.user.last_name}}</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/cs/admin/password_change/">Změna hesla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cs/predtisky/">Předtisky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cs/smernice/">Směrnice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cs/zpravaoakci/">Zpráva o akci</a>
      </li>
    </ul>
   </div>
</nav>
{% endif %}
<!-- ##### Header Area Start ##### -->
{% include "includes/header/header.html" %}
<!-- ##### Header Area End ##### -->

{% block content %}{% endblock content %}

<!-- ##### Footer Area Start ##### -->
{% include "includes/footer/footer.html" %}
<!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}" ></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/acctoolbar.min.js' %}"></script>   
    <script>
      // optional init
        window.onload = function() {
          window.micAccessTool = new MicAccessTool({
            link: 'https://www.sspu-opava.cz/cs/dokumenty/prohlaseni-o-pristupnosti-webu',
            contact: 'mailto:lucny@sspu-opava.cz',
            buttonPosition: 'left', // default is 'left'
            forceLang: 'cs-CS' // default is 'en' may be 'he-IL' or 'ru-RU'
          });
        }
      </script>    
      
      <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
      <script>
          window.cookieconsent.initialise({
              container: document.getElementById("cookieconsent"),
              palette: {
                  popup: {
                      background: "#1aa3ff"
                  },
                  button: {
                      background: "#e0e0e0"
                  },
              },
              revokable: true,
              onStatusChange: function (status) {
                  console.log(this.hasConsented() ?
                      'enable cookies' : 'disable cookies');
              },
              "position": "bottom-right",
              "theme": "classic",
              "domain": "https://www.sspu-opava.cz/",
              "secure": true,
              "content": {
                  "header": 'Na této stránce jsou používány cookies!',
                  "message": 'Tento web používá k analýze návštěvnosti tzv. cookies společnosti Google. Cookies můžete ve svém prohlížeči vypnout. ',
                  "dismiss": 'Souhlasím',
                  "link": 'viz Ochrana osobních údajů',
                  "href": 'https://www.sspu-opava.cz/cs/dokumenty/ochrana-osobnich-udaju/',
                  "close": '&#x274c;',
                  "policy": 'Cookie Policy',
                  "target": '_blank',
              }
          });
      </script>      
    {% render_block "js" %}
</body>
</html>

