{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

	<!-- ##### Homepage Carousel ##### -->
	{% include "includes/carousel/carousel.html" %}
	<!-- ##### /Homepage Carousel ##### -->

	<!-- ##### Navigace Obory ##### -->
	{% include "includes/menu/courses.html" %}
	<!-- ##### /Navigace Obory ##### -->


    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area pb-0">
        <div class="container">
            <!--
            <div class="row mb-3 mt-3 bg-secondary">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h2 class="text-uppercase text-light pt-3 text-light">Aktuálně</h2>
                    </div>
                </div>
            </div>
            -->
            {% placeholder "alert" %}
            <div class="row mb-0 mt-3 border-bottom border-dark">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h2 class="text-uppercase text-light pt-3 text-dark">Školní zpravodaj</h2>
                    </div>
                </div>
            </div>
            <div class="row bg-light pt-3">
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        {% placeholder "featured_article" %}
                        {% block featured_article %}{% endblock %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    {% placeholder "latest_articles" %}
                    {% block latest_articles %}{% endblock %}
                </div>
            </div>
            <div class="row mb-0 mt-3 border-bottom border-dark">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h2 class="text-uppercase text-light pt-3 text-dark">Školní galerie</h2>
                    </div>
                </div>
            </div>
            <div class="row bg-light pt-3">
                <div class="col-12">
                {% placeholder "photogallery" %}
                {% block photogallery %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

	{% placeholder "content" %}
{% endblock content %}
