{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<!-- Single Blog Start -->
<div class="col-lg-6 single-blog-post pt-0 text-left">
    <!-- Post Thumb -->
    {# The image is only shown on the detail view by using the condition "and detail_view" #}
    {% if article.featured_image_id %}
    <div class="blog-post-thumb mt-0 mb-3">
        <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}"
             alt="{{ article.featured_image.alt }}">
    </div>
    {% endif %}
    <!-- Post Title -->
    <h4 class="border-bottom mt-0">
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}"
           class="featured-post-title text-center text-uppercase">
            {% render_model article "title" %}</a></h4>
    <!-- Post Meta -->
    <div class="post-meta mb-0 text-center">
        <p>
            {{ article.publishing_date|date }},
            {% include "aldryn_newsblog/includes/author.html" with author=article.author %}
        </p>
    </div>
    <!-- Post Excerpt -->
    <div class="mt-3">{% render_model article "lead_in" %}</div>
    <!-- Read More btn -->
    <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}" class="mt-2">Přečtěte si
        více</a>
</div>
