{% load cms_tags %}
<!-- ##### Navigace Obory Start ##### -->
<div class="top-features-area wow flipInX bg-white mb-0" data-wow-delay="500ms">
    <div class="container mb-0 pb-0">
        <div class="row features-content p-0">
                        <div class="col-12 col-md-2 bg-strojirenstvi collapse-courses">
                            <a href="/cs/strojirenstvi">
                                <div class="single-top-features d-flex align-items-center justify-content-center obor-menu bg-strojirenstvi">
                                    <h5 class="text-uppercase font-weight-light">Strojírenství</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-3 bg-informatika collapse-courses">
                            <a href="/cs/informacni-technologie">
                                <div class="single-top-features d-flex align-items-center justify-content-center obor-menu bg-informatika">
                                    <h5 class="text-uppercase font-weight-light">Informační technologie</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-2 bg-hracka collapse-courses">
                            <a href="/cs/design-hracek">
                                <div class="single-top-features d-flex align-items-center justify-content-center obor-menu bg-hracka">
                                    <h5 class="text-uppercase font-weight-light">Design hraček</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-3 bg-design collapse-courses">
                            <a href="/cs/prumyslovy-design">
                                <div class="single-top-features d-flex align-items-center justify-content-center obor-menu bg-design">
                                    <h5 class="text-uppercase font-weight-light">Průmyslový design</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-2 bg-grafika collapse-courses">
                            <a href="/cs/graficky-design">
                                <div class="single-top-features d-flex align-items-center justify-content-center obor-menu bg-grafika">
                                    <h5 class="text-uppercase font-weight-light">Grafický design</h5>
                                </div>
                            </a>
                        </div>
        </div>
    </div>
</div>
<!-- ##### Navigace Obory End ##### -->